# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# TUM DataSet
rgbd_dataset_freiburg1_xyz.tgz
rgbd_dataset_freiburg1_xyz/

# build directory
*[Bb]uild*/

# 3rdParty
3rdParty/

CMakeLists.txt.user

.idea/

tags
.tags
